adapter driver usb_blaster

usb_blaster vid_pid 0x09fb 0x6010 0x09fb 0x6810
usb_blaster lowlevel_driver ublast2
#usb_blaster firmware /opt/intelFPGA_pro/23.3/qprogrammer/quartus/linux64/blaster_6810.hex

transport select jtag

set CHIPNAME fpgasoc
set DAP_TAPID 0x6ba00477
set FPGA_TAPID 0xc322d0dd
set CHIPCORES 4
set USE_SMP 1
set ADAPTER_SPEED 24000

jtag newtap $CHIPNAME.fpga tap -expected-id $FPGA_TAPID -irlen 10 
jtag newtap $CHIPNAME cpu -expected-id $DAP_TAPID -irlen 4 
adapter speed $ADAPTER_SPEED

dap create $CHIPNAME.dap -chain-position $CHIPNAME.cpu

# these addresses are obtained from the ROM table via 'dap info 0' command
set _DBGBASE {0x80410000 0x80510000 0x80610000 0x80710000}
set _CTIBASE {0x80420000 0x80520000 0x80620000 0x80720000}

set _SMP_TGTS_LIST ""

for { set _core 0 } { $_core < $CHIPCORES } { incr _core } {
  set _CTINAME $CHIPNAME.cti$_core
  set _TARGETNAME $CHIPNAME.cpu$_core

  cti create $_CTINAME -dap $CHIPNAME.dap -ap-num 0 -baseaddr [lindex $_CTIBASE $_core]
  target create $_TARGETNAME aarch64 -dap $CHIPNAME.dap -ap-num 0 -dbgbase [lindex $_DBGBASE $_core] -cti $_CTINAME -rtos hwthread -coreid $_core

  append _SMP_TGTS_LIST " $_TARGETNAME"
}

init
halt

if {$USE_SMP} {
  eval "target smp$_SMP_TGTS_LIST"
}

jtag tapenable $CHIPNAME.cpu
targets
